body{
    margin: 0px;
    padding: 0px;
     background: #111;
}

.logo{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,cursive;
    color: #f8e643;
}
.bg-img{
    background-image: url(images/untitled\ banner.png);
    background-repeat: no-repeat;
    background-size: cover;
     width: 100vw;
    height: 750px;
}

img {
    max-width: 100%;
    height: auto;
}


.clr-sn{
    text-decoration: none;
    color: black;
}

.menu{
    text-decoration: none;
    color: #f8e643;
}



.wlcm-qt{
    margin-top: 150px;
    color: #f9930494;
    margin-bottom: 30px;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   text-transform: uppercase;
   background: linear-gradient(to right, rgb(184, 79, 13),rgb(180, 66, 34),rgb(244, 240, 5),rgb(211, 137, 72),rgb(184, 79, 13));
   background-size: 200%;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: animate-gradiant 2.5s linear infinite;

}

@keyframes animate-gradiant{
    to {
        background-position: 200%;
    }
}


.banner-img{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    
}

.options{
    display: flex;
    justify-content: end;
    gap: 15px;
    list-style: none;
    font-size: 12px;
    color: #f8e643;
}

#sign-in{
  border-radius: 2px;
  background-color:#ffb84d;
  width: 56px;
  height: 13px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

#sign-in:hover{
   background: rgb(232, 155, 40);
  border-radius: 2px;
  color: black;
  width: 56px;
  height: 13px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}



.order-btn {
    color: white;
    background-color: #f37a02;
    border-radius: 30px;
    font-size: 20px;
    width: 170px;
    height: 50px;
    text-align: center;
    border: outset;
    cursor: pointer;
    margin: 0 auto; /* centers the button */
    display: block;
}


.order-btn:hover{
    color: white;
    background: transparent;  
    font-size: 20px;
    width: 170px;
    height: 50px;
    text-align: center;
    margin-left: 680px;
    
}
.our-story{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.subhead{
    color: white;
    font-size: 22px;
    
}
.about{
    color: white;
    font-size: 19px;
}



.card-1{
    color: white;
    background-color: #90653d;
    width: 330px;
    height: 340px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
}

.card-1:hover{
    color: orange;
    background-color: #112727;
    width: 330px;
    height: 340px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.kuzhimandi{
    width: 330px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.food-name{
    font-size: 17px;
    text-align: center;
}

.container{
   display: flex;
   justify-content: center;
   gap: 90px;
}

.ordernow-link{
    text-decoration: none;
    color: #fff;
}

.spcl-ofrs{
    color: white;
    font-size: 30px;
    text-align: center;
}

.spcl-ofrs:hover{
    color: darkgoldenrod;
    font-size: 30px;
    text-align: center;
}

.pola{
    width: 290px;
    margin-left: 160px;
    border-radius: 5px;
   
}

.pola:hover{
    transform: scale(1.3);
    transition: 1s;
}

.soup{
    width: 270px;
    margin-left: 30px;
    border-radius: 5px;
    
}
.soup:hover{
    transform: scale(1.3);
    transition: 1s;
}

.karimeen{
    width: 220px;
    margin-left: 30px;
    border-radius: 5px;
   
}

.karimeen:hover{
    transform: scale(1.3);
    transition: 1s;
}

.chemmeen{
    width: 220px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 5px;
   
    
}
.chemmeen:hover{
    transform: scale(1.3);
    transition: 1s;
}
.soup2{
    width: 270px;
    margin-left: 30px;
    margin-bottom: 120px;
    border-radius: 5px;
    
}
.soup2:hover{
    transform: scale(1.3);
    transition: 1s;
}

.chattychor{
    width: 330px;
    margin-left: 30px;
    border-radius: 5px;
   
}
.chattychor:hover{
    transform: scale(1.3);
    transition: 1s;
}

.juice{
    width: 250px;
    margin-left: 170px;
    margin-top: 50px;
    border-radius: 5px;
}

.juice:hover{
    transform: scale(1.3);
    transition: 1s;

}
    


.kada{
    width: 300px;
    margin-left: 30px;
    margin-bottom: 90px;
    border-radius: 5px;
      
}
.kada:hover{
    transform: scale(1.3);
    transition: 1s;
}

.mandi{
    width: 330px;
    margin-left: 30px;  
    margin-bottom: 60px;
    border-radius: 5px; 
}
.mandi:hover{
    transform: scale(1.3);
    transition: 1s;
}

.testimonial{
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 40px;
    flex-wrap: wrap;
    
}

.q-names{
    color: white;
    font-size: 20px;
    
}

.quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    
}

.qts-crd{
    background-color: #000000;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    padding: 10px;
    padding-top: 50px;
    margin-bottom: 40px;
   
}

.container-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background-color: #000404;
    height: 350px;
    
}

.ftr-txts{
    font-family:'Calibri';
    color:white;
}

.btn{
    width: 55px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.btn:hover{
    width: 55px;
    height: 35px;
    border-radius: 8px;

    color: #6d8a8a;
    text-align: center;
    font-weight: bold;
}



.ftr-txts h4{
    font-size: 27px;
}

input{
    width: 220px;
    height: 30px;
    color: white;
    background: transparent;
    border: solid 1px gray;
}

.final{
    background-color: #070808;
    color: white;
    padding: 30px;
    text-align: center;
    margin: 0;
}


@media (max-width: 600px) {

    .options{
        margin-right: -90px;
    }

    .container,
    .our-story,
    .quotes,
    .container-footer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .subhead{
        font-size: 18px;
        margin-left: 50px;
    }

    .about{
        font-size: 14px;
        margin-left: 50px;

    }

    .card-1 {
        width: 80%;
        height: auto;  
        margin-left: 100px;
    }

    .pola,
    .soup,
    .karimeen,
    .chemmeen,
    .soup2,
    .chattychor,
    .juice,
    .kada,
    .mandi {
        width: 20%;
        margin-left: 40px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .order-btn {
        text-align: center;
    }

    .logo {
        font-size: 22px;
        margin-left: -70px;
        margin-top: -30px;
    }

    .wlcm-qt {
        font-size: 40px;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .options {
        flex-direction: column;
        align-items: end;
        font-size: 14px;
    }

    .bg-img {
        height: auto;
        width: 425px;
        padding-bottom: 50px;
    }

    

    video{
        width: 530px;
        margin-bottom: -90px;
        margin-top: -60px;
    }

    .container-footer {
        padding: 20px;
        width: 380px;
    }

    .ftr-txts{
        font-size: 12px;
        margin-left: -100px;
    }

    #contact-ft{
        margin-left: -210px;
    }

    .ftr-txts h4{
        font-size: 14px;
    }

    .spcl-ofrs{
        margin-left: 100px ;
        font-size: 24px;
    }

    .final{
        width: 360px;
    }

    .qts-crd{
        width: 350px;
        margin-left: 100px;
    }
}


