body{
  margin: 0px;
  padding: 0px;
 background: #111;
}

.logo{
  font-size: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,cursive;
  color: #f8e643;
}

/* .bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
} */


/* .video-container {
  position: relative;
  height: 100px;
  overflow: hidden;
} */


.menu{
  text-decoration: none;
  color: #f8e643;
}

.clr-sn{
  text-decoration: none;
  color: black;
}



.banner-img{
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.options{
  display: flex;
  justify-content: end;
  gap: 15px;
  list-style: none;
  font-size: 12px;
  color: #f8e643;
}

#sign-in{
  border-radius: 2px;
  background-color:#ffb84d;
  width: 56px;
  height: 13px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

#sign-in:hover{
   background: rgb(232, 155, 40);
  border-radius: 2px;
  color: black;
  width: 56px;
  height: 13px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
} 



.products {
  padding: 50px;
  text-align: center;

 
}

.products h2 {
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
  color: #f90;
  background-color: #262626;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
} */

.menu-tabs{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.menu-tabs button{
  border: none;
  background: #f0f0f0;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-tabs button:hover{
  background: #ddd;
}

.menu-tabs button.active{
  background: #ff4b4b;
  color: white;
}

.menu-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}


.card {
  background: #1a1a1a;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #262626;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #bbb;
}

.card button {
  background: #f90;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #111;
  font-weight: bold;
  transition: 0.3s;
}

.card button:hover {
  background: #ffb84d;
}


.tab-link{
  text-decoration: none;
  color: black;
}

.container-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  background-color: #000404;
  height: 350px;
    
}

.ftr-txts{
  font-family:'Calibri';
  color:white;
}

.snd-btn{
  width: 55px;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.snd-btn:hover{
  width: 55px;
  height: 35px;
  border-radius: 8px;
  color: #6d8a8a;
  text-align: center;
  font-weight: bold;
}

.ftr-txts h4{
  font-size: 27px;
}

input{
  width: 220px;
  height: 30px;
  color: white;
  background: transparent;
  border: solid 1px gray;
}

.final{
   background-color: #070808;
  color: white;
  padding: 30px;
  text-align: center;
  margin: 0;
}



